[Unit]
Description=Run restic backup to backblaze b2
; After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/restic backup %h --exclude-file %h/.resticignore


