[submodule ".config/nvim/bundle/nerdtree-git-plugin"]
	path = .config/nvim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule ".config/nvim/bundle/nerdtree"]
	path = .config/nvim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".config/nvim/bundle/ale"]
	path = .config/nvim/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule ".config/nvim/bundle/base16-vim"]
	path = .config/nvim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule ".config/nvim/bundle/vim-javascript"]
	path = .config/nvim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule ".config/nvim/bundle/vim-autoformat"]
	path = .config/nvim/bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule "builds/bash-pipes"]
	path = builds/bash-pipes
	url = https://aur.archlinux.org/bash-pipes.git
[submodule "builds/digikam-git"]
	path = builds/digikam-git
	url = https://aur.archlinux.org/digikam-git.git
[submodule "builds/emojione-color-font"]
	path = builds/emojione-color-font
	url = https://aur.archlinux.org/emojione-color-font.git
[submodule "builds/equilux-theme"]
	path = builds/equilux-theme
	url = https://aur.archlinux.org/equilux-theme.git
[submodule "builds/extra-cmake-modules-git"]
	path = builds/extra-cmake-modules-git
	url = https://aur.archlinux.org/extra-cmake-modules-git.git
[submodule "builds/google-chrome"]
	path = builds/google-chrome
	url = https://aur.archlinux.org/google-chrome.git
[submodule "builds/hplip"]
	path = builds/hplip
	url = https://aur.archlinux.org/hplip.git
[submodule "builds/hplip-plugin"]
	path = builds/hplip-plugin
	url = https://aur.archlinux.org/hplip-plugin.git
[submodule "builds/kindlegen"]
	path = builds/kindlegen
	url = https://aur.archlinux.org/kindlegen.git
[submodule "builds/kubectl-bin"]
	path = builds/kubectl-bin
	url = https://aur.archlinux.org/kubectl-bin.git
[submodule "builds/libgnomecanvasmm"]
	path = builds/libgnomecanvasmm
	url = https://aur.archlinux.org/libgnomecanvasmm.git
[submodule "builds/libinput-gestures"]
	path = builds/libinput-gestures
	url = https://aur.archlinux.org/libinput-gestures.git
[submodule "builds/libspotify"]
	path = builds/libspotify
	url = https://aur.archlinux.org/libspotify.git
[submodule "builds/masterpdfeditor"]
	path = builds/masterpdfeditor
	url = https://aur.archlinux.org/masterpdfeditor.git
[submodule "builds/materia-theme"]
	path = builds/materia-theme
	url = https://aur.archlinux.org/materia-theme.git
[submodule "builds/minikube-bin"]
	path = builds/minikube-bin
	url = https://aur.archlinux.org/minikube-bin.git
[submodule "builds/neovim-drop-in"]
	path = builds/neovim-drop-in
	url = https://aur.archlinux.org/neovim-drop-in.git
[submodule "builds/ovpngen"]
	path = builds/ovpngen
	url = https://aur.archlinux.org/ovpngen.git
[submodule "builds/paper-gtk-theme-git"]
	path = builds/paper-gtk-theme-git
	url = https://aur.archlinux.org/paper-gtk-theme-git.git
[submodule "builds/paper-icon-theme-git"]
	path = builds/paper-icon-theme-git
	url = https://aur.archlinux.org/paper-icon-theme-git.git
[submodule "builds/polybar"]
	path = builds/polybar
	url = https://aur.archlinux.org/polybar.git
[submodule "builds/python2-pyspotify"]
	path = builds/python2-pyspotify
	url = https://aur.archlinux.org/python2-pyspotify.git
[submodule "builds/python2-spotipy"]
	path = builds/python2-spotipy
	url = https://aur.archlinux.org/python2-spotipy.git
[submodule "builds/reflector-timer"]
	path = builds/reflector-timer
	url = https://aur.archlinux.org/reflector-timer.git
[submodule "builds/robo3t-bin"]
	path = builds/robo3t-bin
	url = https://aur.archlinux.org/robo3t-bin.git
[submodule "builds/siji-git"]
	path = builds/siji-git
	url = https://aur.archlinux.org/siji-git.git
[submodule "builds/slack-desktop"]
	path = builds/slack-desktop
	url = https://aur.archlinux.org/slack-desktop.git
[submodule "builds/solaar"]
	path = builds/solaar
	url = https://aur.archlinux.org/solaar.git
[submodule "builds/spotify"]
	path = builds/spotify
	url = https://aur.archlinux.org/spotify.git
[submodule "builds/sublime-text-dev"]
	path = builds/sublime-text-dev
	url = https://aur.archlinux.org/sublime-text-dev.git
[submodule "builds/timg"]
	path = builds/timg
	url = https://aur.archlinux.org/timg.git
[submodule "builds/ttf-google-fonts-git"]
	path = builds/ttf-google-fonts-git
	url = https://aur.archlinux.org/ttf-google-fonts-git.git
[submodule "builds/ttf-merriweather"]
	path = builds/ttf-merriweather
	url = https://aur.archlinux.org/ttf-merriweather.git
[submodule "builds/ttf-merriweather-sans"]
	path = builds/ttf-merriweather-sans
	url = https://aur.archlinux.org/ttf-merriweather-sans.git
[submodule "builds/ttf-ms-fonts"]
	path = builds/ttf-ms-fonts
	url = https://aur.archlinux.org/ttf-ms-fonts.git
[submodule "builds/ttf-opensans"]
	path = builds/ttf-opensans
	url = https://aur.archlinux.org/ttf-opensans.git
[submodule "builds/ttf-oswald"]
	path = builds/ttf-oswald
	url = https://aur.archlinux.org/ttf-oswald.git
[submodule "builds/ttf-quintessential"]
	path = builds/ttf-quintessential
	url = https://aur.archlinux.org/ttf-quintessential.git
[submodule "builds/ttf-signika"]
	path = builds/ttf-signika
	url = https://aur.archlinux.org/ttf-signika.git
[submodule "builds/ttf-unifont"]
	path = builds/ttf-unifont
	url = https://aur.archlinux.org/ttf-unifont.git
[submodule "builds/urxvt-tabbedex-mina86-git"]
	path = builds/urxvt-tabbedex-mina86-git
	url = https://aur.archlinux.org/urxvt-tabbedex-mina86-git.git
[submodule "builds/virtualbox-ext-oracle"]
	path = builds/virtualbox-ext-oracle
	url = https://aur.archlinux.org/virtualbox-ext-oracle.git
[submodule "builds/xed"]
	path = builds/xed
	url = https://aur.archlinux.org/xed.git
[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule ".config/base16-xresources"]
	path = .config/base16-xresources
	url = https://github.com/chriskempson/base16-xresources.git
[submodule ".config/nvim/bundle/vim-airline"]
	path = .config/nvim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".config/base16-rofi"]
	path = .config/base16-rofi
	url = https://github.com/0xdec/base16-rofi.git
[submodule ".config/nvim/bundle/yats.vim"]
	path = .config/nvim/bundle/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim.git
[submodule ".config/nvim/bundle/denite.nvim"]
	path = .config/nvim/bundle/denite.nvim
	url = https://github.com/Shougo/denite.nvim
[submodule ".config/nvim/bundle/vim-fugitive"]
	path = .config/nvim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".config/nvim/bundle/vim-gitgutter"]
	path = .config/nvim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".config/nvim/bundle/nerdcommenter"]
	path = .config/nvim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule ".config/nvim/bundle/vim-jsdoc"]
	path = .config/nvim/bundle/vim-jsdoc
	url = https://github.com/heavenshell/vim-jsdoc
[submodule "builds/google-cloud-sdk"]
	path = builds/google-cloud-sdk
	url = https://aur.archlinux.org/google-cloud-sdk.git
[submodule "builds/signal-desktop-bin"]
	path = builds/signal-desktop-bin
	url = https://aur.archlinux.org/signal-desktop-bin.git
[submodule "builds/nlohmann-json"]
	path = builds/nlohmann-json
	url = https://aur.archlinux.org/nlohmann-json.git
[submodule "builds/auracle-git"]
	path = builds/auracle-git
	url = https://aur.archlinux.org/auracle-git.git
[submodule "builds/urxvt-resize-font-git"]
	path = builds/urxvt-resize-font-git
	url = https://aur.archlinux.org/urxvt-resize-font-git.git
[submodule ".config/nvim/bundle/vim-jsx"]
	path = .config/nvim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule ".config/nvim/bundle/coc.nvim"]
	path = .config/nvim/bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
