/*
 * color0 - background
 * color1 - red
 * color2 - green
 * color3 - yellow
 * color4 - blue
 * color5 - magenta
 * color6 - cyan
 * color7 - foreground
 * color8 - brightblack
 * color9 - brightred
 * color10 - brightgreen
 * color11 - brightyellow
 * color12 - brightblue
 * color13 - brightmagenta
 * color14 - 
 * color15 - 
 * color16 - white
 */


#outer-box {
  border: 2px solid --wofi-color7;
  background-color: --wofi-color0;
  padding: 6px;
}

#input,
#input:active,
#input:focus {
  background-color: black;
  border-radius: 0;
  border-bottom: 2px dashed --wofi-color7;
  margin-bottom: 2px;
  outline: none
}


#input,
#text,
#entry{
  font-size: 16px;
  font-family: "Hack Nerd Font";
  color: --wofi-color7;
}

#entry {
  display: block;
  width: 100%;
}

flowboxchild {
  padding: 1px;
  border-collapse: collapse;
}

flowboxchild:nth-child(even) {
  background: --wofi-color0;
}

flowboxchild:nth-child(odd) {
  background: black;
}

flowboxchild:selected,
flowboxchild:selected #text {
  background-color: --wofi-color7;
  color: --wofi-color0;
}

