/*
 * color0 - background
 * color1 - red
 * color2 - green
 * color3 - yellow
 * color4 - blue
 * color5 - magenta
 * color6 - cyan
 * color7 - foreground
 * color8 - gray
 * color9 - 
 * color10 - brightgreen
 * color11 - 
 * color12 - 
 * color13 - 
 * color14 - 
 * color15 - 
 * color16 - white
 */


#outer-box {
  border: 2px solid --wofi-color7;
  background-color: --wofi-color0;
  padding: 6px;
}

#input,
#input:active,
#input:focus,
#input:selected {
  background-color: --wofi-color0;
  border-radius: 0;
  border-bottom: 2px dashed --wofi-color7;
}

#input,
#text,
#entry{
  font-size: 16px;
  font-family: "Hack Nerd Font";
  color: --wofi-color7;
}

#entry {
  display: block;
  width: 100%;
}

flowboxchild {
  padding: 1px;
  border-collapse: collapse;
}

flowboxchild:nth-child(even) {
  background: --wofi-color0;
}

flowboxchild:nth-child(odd) {
  background: --wofi-color8;
}

#entry:selected {
  background: --wofi-color7;
  color: --wofi-color0;
}
